<h1 class="header">Login Page</h1>
</br>
<p class="header">Please Login Below:</p>
</br>
</br>
<!-- _______________________________________________________________________________ -->
<form id="loginform" action ="/welcome/login" method ="get">
  <input type="text" name=user_name placeholder='Username'  autofocus/>
  <input type="text" name="password" placeholder = 'Password'  />
  <span class="submit"><input type="submit" value="Submit"/></span>
</form>

<!-- ________________________________________________________________________________ -->
</br>
<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>
