<p>Registration Success!</p>
</br>
<p>Please Login Below:</p>
</br>
</br>
________________________________________________________________________________
________________________________________________________________________________
<form id="loginform" action ="/welcome/login" method ="get">
  <input type="text" name=user_name placeholder='Username' autofocus/>
  <input type="text" name="password" placeholder = 'Password'/>
  <input type="submit" value= "Login"/>
</form>
________________________________________________________________________________
________________________________________________________________________________
