// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// form {
//   text-align: center;
// }

#loginform {
  text-align: center;
  text-shadow: 5px solid black;
}

p {
  text-align: center;
}

h2 {
  text-align: center;
}

h1 {
  text-align: center;
}


.header {
  color: white;
  background-size: cover;
  text-shadow: 1px solid black;
}

.infopage {
  color: white;
}

.notice {
  color: red;
  text-align: center;
}

.alert {
  color: black;
}
